# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

#custom files (Visual Studio)
*.exp
*.ilk
*.idb
*.pdb

# excluded directories
#build folder
build/solutions/vs2005
build/solutions/vs2008
build/solutions/vs2010
build/solutions/vs2012
build/solutions/vs2013
build/solutions/vs2015
build/solutions/vs2017
build/solutions/vs2019
build/solutions/xcode3
build/solutions/xcode4
build/solutions/gcc
build/solutions/codeblocks

#log folder
Logs/

#lib folder
lib/win32/boost_1_66_0
lib/win32/boost
lib/win32/wxWidgets

#bin folder
bin


#vs
.vs
